<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Docketing - Move Document</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='css/movedocument.css') }}" rel="stylesheet">
    </head>
	<body>
		<div class="container">
      <div class="row">
					<div class="col">
            <div class="">
              <h3 class="display-2 text-warning">Oops!</h3>
              <hr class="border-warning">
              <div class="p-3">Something went wrong. This application can only be accessed through the Docketing Management System. Please go back and try again.</div>
            </div>
          </div>
			</div>
		</div>
	</body>
</html>